:root {
    --primary-color: #E57B45;
    --secondary-color: #3975A7;
}

/* reset */
body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;

}

/*-------------------------------*/

/* Base styles */
h2 {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/*------ */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    align-items: center;
}

/*----- Mobile styles----*/

/* --- HEADER ---- */
header {
    width: 100%;
    position: absolute;
    z-index: 3;
    padding-top: 25px;

}

.booking-form {
    display: none;
}

.logo-wrapper {
    display:none;
}

.logo-wrapper img {
    max-width: 250px;
}

/*HAMBUER MENU */
.hamburger-menu {
    position: absolute;
    right: .75rem;
    top: .75rem;
}

header nav {
    display: none;
}
.hamburger-menu:hover{
    cursor:pointer;
}

header nav {
    display: none;
}

/*--- HAMBURGER ANIMATION ---*/
.header-nav{
    /*
    display:flex;
    flex-direction:column;
    margin-top:100px;
    */
    
}
.header-nav ul{
    width:100%;
}
.header-nav ul li{
    background-color:#8CBAE6;
    padding:10px;
    text-align:center;
    
}
.header-nav ul li a{
    color:#ffffff;
}
.header-nav ul li a:hover{
    color:#E57B45;
}
.header-nav ul li:hover{
    background-color:#3975A7;
    cursor:pointer;   
}
.logo-wrapper{
    position:fixed;
    top:3%;
    left:27%;
}
.header-nav.active{
    display:flex;
    margin-top:50px;
}


/*------------------------------------*/

.overlay {
    background-color: var(--secondary-color);
    opacity: 75%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

/* --- HERO SECTION ---- */
#hero-section {
    background: url('/images/belgrade-tournimage-2021.jpg');
    background-position: center;
    background-size: cover;
    background-color: green;
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 1, 2em;
    color: var(--primary-color);
    font-weight: normal;

}

.stars-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 2;
}

/* --- HERO SECTION FINISHED HERE ---- */
/*---PRICELIST SECTION STARTS HERE ----*/
#pricelist-section{
    padding:100px 20px;
}
#pricelist-section h2{
    color:#3975A7;
    text-align:center;
    
}
.table-wrapper{
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:center;
}

#pricelist tr{
    background-color:#3975A7;
    font-size:1.2em;
    text-align:center;
}
#pricelist th{
    color:black;
    padding:20px;
}
#pricelist td{
    color:black;
    padding:20px 0px;
    background-color:lightgray;
}

/*--- FOOTER ---*/
footer {
    padding: 50px 50px;
    background-color: #F5E6DA;
}

.f-logo-wrapper {
    grid-column: 1/3;
    margin-right: 50px;
}

.f-logo-wrapper img {
    max-width: 120px;
}

.links-wrapper {
    grid-column: 4/6;
    grid-row: 1;

}

.links-wrapper a {
    color: #3975A7;
}

.sm-icons-wrapper {
    display: flex;
    gap: 10px;
    grid-column: 7/9;
}

/*--- larg tablets and laptops styles ---- */
@media screen and (min-width:960px) {
    body {
        font-size: 18px;
    }


    header nav {
        display: block;
    }
    header nav {
        display: flex;
        justify-content:center;
    }
    .header-nav ul li{
        background-color:transparent;
    }
    .header-nav ul li:hover{
        background-color:transparent;
    }
    .logo-wrapper{
       max-width:250px;
       position:static;
       margin-left:0;
       display:block;
    }

    header nav ul {
        display: flex;
        gap: 10px;
    }

    header nav ul li {
        color: #ffffff;
    }


    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu {
        display: none;
    }

    #hero-section {
        padding: 150px 0;
    }

    .booking-form{
        display:block;
    }
    .booking-form{
        position:relative;
        z-index:3;
        display:flex;
        background-color:#ffffff;
        padding:40px 40px;
        max-width:800px;
        margin:0 auto;
        border-radius:10px;
        justify-content:center;
        gap:100px;
        align-items:center;
        margin-top:50px;
    }
    .booking-form label{
        font-size:1.2em;
        color:#3975A7;
        font-weight:bold;
    }
    .arrival-date-content{
        display:flex;
        flex-direction:column;
    }
    .arrival-date-content input{
        padding:10px;
        border:1px solid #E57B45;
        border-radius:5px;
        color:#E57B45;
       
    }
    .departure-date-content{
        display:flex;
        flex-direction:column;
    }
    .departure-date-content input{
        margin-top:20px;
        padding:10px;
        border:1px solid #E57B45;
        border-radius:5px;
        color:#E57B45;
    }
    .button-wrapper input{
        padding:10px;
        color:#ffffff;
        font-size:1.2em;
        border-radius:10px;
        text-transform:uppercase;
        border:none;
        background-color:#E57B45;
    }
    .button-wrapper input:hover{
        background-color:#a55228;
        cursor:pointer;
    }
    .f-logo-wrapper img{
        max-width:250px;
       }
       .links-wrapper{
        grid-column:3/7;
       }
       .links-wrapper ul{
        display:flex;
        gap:20px
       }
       .sm-icons-wrapper{
        grid-column:7/9;
       }
}

/*--- Desktop styles ---*/
@media screen and (min-width:1200px){
    body{
        font-size:20px;
    }
    header{
        padding:50px 50px;
    }
    header nav ul li:hover{
        color:#E57B45;
        cursor:pointer;
    }
    .flex-wrapper{
        display:flex;
        justify-content:space-around;
        align-items:center;
        gap:180px;
    }
   
    #hero-section{
       padding:300px 0px;
    }
    .booking-menu{
        display:flex;
        gap:100px;
        max-width:1100px;
    }
    .book-menu-h3{
        font-size:1.2em;
    }
    .booking-btn{
        font-size:1.2em;
        padding:25px;
    }
    .booking-form{
        position:relative;
        z-index:3;
        display:flex;
        background-color:#ffffff;
        padding:40px 40px;
        max-width:800px;
        margin:0 auto;
        border-radius:10px;
        justify-content:center;
        gap:100px;
        align-items:center;
        margin-top:50px;
    }
    .booking-form label{
        font-size:1.2em;
        color:#3975A7;
        font-weight:bold;
    }
    .arrival-date-content{
        display:flex;
        flex-direction:column;
    }
    .arrival-date-content input{
        padding:10px;
        border:1px solid #E57B45;
        border-radius:5px;
        color:#E57B45;
        margin-top:20px;
    }
    .departure-date-content{
        display:flex;
        flex-direction:column;
    }
    .departure-date-content input{
    padding:10px;
        border:1px solid #E57B45;
        border-radius:5px;
        color:#E57B45;
    }
    .button-wrapper input{
        padding:10px;
        color:#ffffff;
        font-size:1.2em;
        border-radius:10px;
        text-transform:uppercase;
        border:none;
        background-color:#E57B45;
    }
    .button-wrapper input:hover{
        background-color:#a55228;
        cursor:pointer;
    }
    .links-wrapper{
        grid-column:4/7;
       }
       .sm-icons-wrapper{
        grid-column:8/9;
       }
}